{% extends 'base.html' %}

{% load static %}

{%  block page_title %}
    <title>Products</title>
{% endblock %}

{%  block page_styles %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
    <link rel="stylesheet" href="{% static 'css/font_awesome/font-awesome.css' %}">
{% endblock %}


{% block header_text %}
    <h1>Our Products Range{% if category %}: {{ category }}{% endif %}</h1>
{% endblock %}

{% block page_content %}
    <div class="row prod_types">
        <div class="row ">
            <div class="col-md-12">
                <div class="row fn_menu">
                    <div><a href="{% url 'products:category' 0 %}">all</a></div>
                    {% for c in categories %}
                        <div><a href="{% url 'products:category' c.pk %}">{{ c.name }}</a></div>
                    {%  endfor %}
                </div>
            </div>
        </div>

        <div class="row p_images">
            {% for pli in products %}
            <div class="row">
                {% for pi in pli %}
                    <div class="col-md-4 fp">
                        {% if pi %}
                            <div class="pi" style="background-image: url({{ MEDIA_URL }}{{ pi.image.value }});"></div>
                            <div class="details">
                                <h4>Cost: {{ pi.cost }}</h4>
                                <a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Add to cart</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row ">
        <div class="col refresh">
            <a href="#"><img class="mx-auto d-block" src="{% static 'img/refresh.png'%}" alt="refresh"></a>
        </div>
    </div>

    <div class="row promo">
        {% for pi in promo %}
        <div class="col-md-6" style="height: 683px; background-image: url({{ MEDIA_URL }}{{ pi.image.value }});">
            <div class="text1">
                {% if pi.exclusive %}
                    <h3>EXCLUSIVE</h3>
                {% endif %}
                <h1>{{ pi.name }}</h1>
                <p>{{ pi.desc }}</p>
                <a href="#">ORDER US</a>
            </div>
        </div>
        {% endfor %}
    </div>
{%  endblock %}
