{% extends 'base.html' %}

{% load staticfiles %}

{%  block page_title %}
    <title>Edit</title>
{% endblock %}

{%  block page_styles %}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block page_content %}
    <div class="row login">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="user_avatar"><img class=" d-block"src="{{ MEDIA_URL }}{{ user.avatar.value }}"/></div>
            <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input class="form-control" type="submit" value="Save">
            </form>
            <button class="btn btn-round form-control last">
                <a href="{% url 'mainapp:index' %}" class="">HOME</a>
            </button>
        </div>
         <div class="col-md-3"></div>
    </div>

{% endblock %}

