.text0 {
  width: 28.625rem;
  float: left;
  margin-top: 18rem;
  margin-left: 6.125rem;
}
.text0 h3 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.375rem;
}
.text0 h1 {
  color: #212121;
  font-size: 3.875rem;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 2.375rem;
  margin-bottom: 2.125rem;
  letter-spacing: -0.1875rem;
}
.text0 p {
  color: #6c6c6c;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.text0 a {
  display: block;
  text-decoration: none;
  border-radius: 1.375rem;
  background: #ffffff;
  box-shadow: 0 0.125rem 0.25rem 0.15px #b1b1b1;
  width: 13.25rem;
  height: 2.8125rem;
  line-height: 2.8125rem;
  color: #212121;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1875rem;
}
.text0 a:hover {
  background: #ffffff url('../img/arrow.png') no-repeat 10.8125rem 1rem;
}
.text0 a:active {
  font-size: 1rem;
  background: #ffffff url('../img/arrow.png') no-repeat 10.5rem 1rem;
  box-shadow: 0 0.125rem 0.25rem 0.15px #b1b1b1 inset;
}
.text1 {
  margin-left: 3.1875rem;
  margin-top: 14.25rem;
  max-width: 23.375rem;
}
.text1 h3 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.125rem;
  margin-bottom: 1.125rem;
}
.text1 h1 {
  color: #212121;
  font-size: 2.25rem;
  font-weight: 700;
}
.text1 p {
  color: #6c6c6c;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  transform: scaleY(1.0022);
  margin-bottom: 2.125rem;
}
.text1 a {
  display: block;
  text-decoration: none;
  border-radius: 1.375rem;
  background: #ffffff;
  box-shadow: 0 0.125rem 0.25rem 0.15px #b1b1b1;
  width: 13.25rem;
  height: 2.8125rem;
  line-height: 2.8125rem;
  color: #212121;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1875rem;
}
.text1 a:hover {
  background: #ffffff url('../img/arrow.png') no-repeat 10.8125rem 1rem;
}
.text1 a:active {
  font-size: 1rem;
  background: #ffffff url('../img/arrow.png') no-repeat 10.5rem 1rem;
  box-shadow: 0 0.125rem 0.25rem 0.15px #b1b1b1 inset;
}
.row {
  margin: 0;
}
.header {
  height: 800px;
  margin-bottom: 7.5rem;
  background-image: url(../img/slider-img.jpg);
}
.mini_head .l_data {
  padding-left: 0;
  padding-right: 0;
}
.mini_head .l_data .fn_menu div {
  border-bottom: 1px solid #6c6c6c;
  float: left;
}
.mini_head .l_data .fn_menu div a {
  color: #6c6c6c;
  display: block;
  float: left;
  text-decoration: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 1.25rem;
}
.mini_head .l_data .fn_menu div:hover {
  border-bottom: 1px solid #212121;
}
.mini_head .l_data .fn_menu div:hover a {
  color: #212121;
}
.mini_head .l_data .fn_menu div:active {
  border-bottom: 0.125rem dotted #212121;
  text-shadow: 0.0625rem 0.125rem 0.5625rem black;
}
.mini_head .explore_all {
  margin-top: 1.125rem;
  margin-bottom: 4.25rem;
  float: right;
  width: 11.1875rem;
  background: #ffffff;
}
.mini_head .explore_all a {
  line-height: 1.5rem;
  color: #212121;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: left;
  text-decoration-line: none;
  letter-spacing: 0.1875rem;
}
.mini_head .explore_all:hover {
  background: #ffffff url('../img/arrow.png') no-repeat 170px 6px;
}
.mini_head .explore_all:active {
  background: #ffffff url('../img/arrow.png') no-repeat 165px 5px;
}
.mini_head .explore_all:active a {
  font-size: 1rem;
  padding-left: 0.3125rem;
}
.evenParts {
  margin-left: 6.125rem;
  margin-right: 6.125rem;
  margin-bottom: 7.5rem;
}
.evenParts .row {
  flex-wrap: nowrap;
}
.featured {
  margin-left: 6.125rem;
  margin-right: 6.125rem;
  margin-bottom: 7.5rem;
}
.featured .row {
  flex-wrap: nowrap;
}
.featured .goods .image {
  padding: 0 0.9375rem;
  width: 16.875rem;
  height: 16.875rem;
}
.featured .goods .details {
  position: absolute;
  width: 16.875rem;
  height: 16.875rem;
  top: 0;
  left: 0.9375rem;
  visibility: hidden;
}
.featured .goods .details a {
  display: block;
  text-decoration: none;
  margin-top: 3.875rem;
  margin-left: 6.9375rem;
  margin-bottom: 1.1875rem;
  border-radius: 50%;
  background: #ffffff url('../img/arrow.png') center no-repeat;
  background-size: 30% auto;
  box-shadow: 0 0.125rem 0.25rem 0.15px rgba(33, 33, 33, 0.35);
  width: 3rem;
  height: 3rem;
}
.featured .goods .details h4 {
  color: #212121;
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1.875rem;
  text-align: center;
  transform: scaleX(1.0041);
  margin-bottom: 1.4375rem;
}
.featured .goods .details p {
  color: #6c6c6c;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 1.375rem;
  text-align: center;
  transform: scaleX(1.0041);
  width: 12.875rem;
  height: 2.5rem;
  margin-left: 2rem;
  overflow: hidden;
}
.featured .goods .fp:hover .image {
  opacity: 0.25;
}
.featured .goods .fp:hover .details {
  visibility: visible;
}
.featured .goods a:active {
  background: #ffffff url('../img/arrow.png') center no-repeat;
  background-size: 25% auto;
  box-shadow: 0 0.125rem 0.25rem 0.15px #b1b1b1 inset;
}
.promo {
  margin-bottom: 7.5rem;
}
.promo h3 {
  color: #1e88e5;
}
.trend_prod {
  margin-left: 6.125rem;
  margin-right: 6.125rem;
  margin-bottom: 7.5rem;
}
.trend_prod .row {
  flex-wrap: nowrap;
}
.trend_prod p {
  color: #212121;
  font-size: 2.25rem;
  font-weight: 700;
}
.trend_prod .pi {
  width: 23.125rem;
  height: 23.125rem;
  margin-bottom: 1rem;
}
.hot_deal {
  height: 800px;
  margin-bottom: 7.5rem;
  background-image: url(../img/slider.jpg);
}
.hot_deal h3 {
  color: #e53935;
}
.exlusive {
  margin-left: 6.125rem;
  margin-right: 6.125rem;
  margin-bottom: 7.5rem;
}
.exlusive .row {
  flex-wrap: nowrap;
}
.exlusive .ep_lg {
  background: url(../img/product-1-lg.jpg) no-repeat;
  height: 35.625rem;
  width: 35.625rem;
}
.exlusive .ep_lg .text1 {
  margin-top: 11.625rem;
  margin-left: 1.9375rem;
  width: 20.75rem;
}
.exlusive .ep_lg .text1 h3 {
  color: #1e88e5;
}
.exlusive .ep_sm {
  display: block;
  width: 16.875rem;
  height: 16.875rem;
  margin-bottom: 1.875rem;
  margin-right: 16px;
}
.mobile_app {
  height: 32.25rem;
  background: url(../img/back-img.jpg) no-repeat;
}
.mobile_app .text0 {
  margin-top: 7.8125rem;
}
.mobile_app .text0 h3 {
  color: #6c6c6c;
}
.mobile_app .text0 p {
  color: #6c6c6c;
  font-size: 1.375rem;
}
.mobile_app .app_store,
.mobile_app .google_play {
  width: 8.4375rem;
  height: 2.5rem;
}
.mobile_app .app_store {
  background: url(../img/app-store.jpg) no-repeat;
}
.mobile_app .google_play {
  background: url(../img/google-play.jpg) no-repeat;
}
/*# sourceMappingURL=style.css.map */