{% extends 'base.html' %}

{% load static %}

{%  block page_title %}
    <title>Interior shop</title>
{% endblock %}

{%  block page_styles %}
    <link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}">
{% endblock %}

{% block header_text %}
    <div class="text0">
                <h3>TRENDING</h3>
                <h1>FISHNET CHAIR</h1>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
                    or highly polished chrome.
                </p>
                <a href="#">ORDER US</a>
            </div>
{% endblock %}

{% block page_content %}
        <div class="featured">
            <div class="row mini_head">
                <div class="col-md-8">
                    <div class="l_data">
                        <div class="fn_menu">
                            <div><a href="#">Featured</a></div>
                            <div><a href="#">New</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="explore_all">
                        <a href="#">EXPLORE ALL</a>
                    </div>
                </div>
            </div>
            <div class="goods">
                <div class="row">
                    {% for fp in f_products %}
                         <div class="col">
                            <div class="fp">
                                <div class="image" style="background: url({{ MEDIA_URL }}{{ fp.image.value }}) no-repeat;"></div>
                                <div class="details">
                                    <a href="#"></a>
                                    <h4>{{ fp.name }}</h4>
                                    <p>{{ fp.desc }}</p>
                                </div>
                            </div>
                         </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="promo">
            <div class="row">
                {% for pp in p_products %}
                    <div class="col-md-6" style="background-image: url({{ MEDIA_URL }}{{ pp.image.value }}); height: 42.6875rem;">
                        <div class="text1">
                            <h3>EXCLUSIVE</h3>
                            <h1>{{ pp.name }}</h1>
                            <p>{{ pp.desc }}</p>
                            <a href="#">ORDER US</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="trend_prod">
            <div class="row mini_head">
                <div class="col-md-8 l_data">
                    <p>Trending Products</p>
                </div>
                <div class="col-md-4">
                    <div class="explore_all">
                        <a href="#">EXPLORE ALL</a>
                    </div>
                </div>
            </div>
            {% for tpl in t_products %}
                <div class="row">
                    {%  for tp in tpl %}
                        <div class="col-md-4">
                            <img class="pi" src="{{ MEDIA_URL }}{{ tp.image.value }}" alt="{{ tp.name }}">
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="hot_deal">
            <div class="text0">
                <h3>HOT DEAL</h3>
                <h1>FISHNET CHAIR</h1>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
                    or highly polished chrome.
                </p>
                <a href="#">ORDER US</a>
            </div>
        </div>

        <div class="exlusive">
            <div class="row">
                <div class="col-md-6 ep_lg">
                    <div class="text1">
                        <h3>EXCLUSIVE</h3>
                        <h1>FISHNET CHAIR</h1>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                            powder-coated black
                            or highly polished chrome.
                        </p>
                        <a href="#">ORDER US</a>
                    </div>
                </div>
                <div class="col-md-6">
                    {%  for epl in e_products %}
                    <div class="row">
                        {% for ep in epl %}
                        <div class="col-md-6 ep_sm">
                            <img src="{{ MEDIA_URL }}{{ ep.image.value }}" alt="{{ ep.name }}">
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="mobile_app">
            <div class="text0">
                <h3>mobile app</h3>
                <h1>Find. Follow.</h1>
                <h1>Favorite.</h1>
                <p>Save your favorites and share your style.</p>
                <div class="row">
                    <div class="col-md-4 app_store"></div>
                    <div class="col-md-4 google_play"></div>
                </div>


            </div>
        </div>
{% endblock %}
