<!doctype html>
{% load staticfiles %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-4/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">
    <title>Interior shop</title>
</head>

<body>
    <div class="container px-0">
        <div class="header">
            <a href="#">
                <img class="logo" src="{% static 'img/logo.png'%}" alt="logo">
            </a>
            <ul class="menu">
                <li><a href="#">HOME</a></li>
                <li><a href="/products/">PRODUCTS</a></li>
                <li><a href="#">HISTORY</a></li>
                <li><a href="#">SHOWROOM</a></li>
                <li><a href="/contacts/">CONTACT</a></li>
            </ul>
            <div class="text0">
                <h3>TRENDING</h3>
                <h1>FISHNET CHAIR</h1>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
                    or highly polished chrome.
                </p>
                <a href="#">ORDER US</a>
            </div>
        </div>
        <div class="featured">
            <div class="row mini_head">
                <div class="col-md-8">
                    <div class="l_data">
                        <div class="fn_menu">
                            <div><a href="#">Featured</a></div>
                            <div><a href="#">New</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="explore_all">
                        <a href="#">EXPLORE ALL</a>
                    </div>
                </div>
            </div>
            <div class="goods">
                <div class="row">
                    <div class="col">
                        <div class="p1">
                            <div class="image"></div>
                            <div class="details">
                                <a href="#"></a>
                                <h4>Fishnet Chair</h4>
                                <p>Seat and back with upholstery made of cold cure foam
                                    . Steel frame, available in matt powder-coated black
                                    or highly polished chrome.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="p2">
                            <div class="image"></div>
                            <div class="details">
                                <a href="#"></a>
                                <h4>Blue Chair</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p3">
                            <div class="image"></div>
                            <div class="details">
                                <a href="#"></a>
                                <h4>White pot</h4>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p4">
                            <div class="image"></div>
                            <div class="details">
                                <a href="#"></a>
                                <h4>Red Chair</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="promo">
            <div class="row">
                <div class="col-md-6 promo1">
                    <div class="text1">
                        <h3>EXCLUSIVE</h3>
                        <h1>FISHNET CHAIR</h1>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                            powder-coated black
                            or highly polished chrome.
                        </p>
                        <a href="#">ORDER US</a>
                    </div>
                </div>
                <div class="col-md-6 promo2">
                    <div class="text1">
                        <h3>EXCLUSIVE</h3>
                        <h1>FISHNET CHAIR</h1>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                            powder-coated black
                            or highly polished chrome.
                        </p>
                        <a href="#">ORDER US</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="trend_prod">
            <div class="row mini_head">
                <div class="col-md-8 l_data">
                    <p>Trending Products</p>
                </div>
                <div class="col-md-4">
                    <div class="explore_all">
                        <a href="#">EXPLORE ALL</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 p11"></div>
                <div class="col-md-4 p12"></div>
                <div class="col-md-4 p13"></div>
            </div>
            <div class="row">
                <div class="col-md-4 p21"></div>
                <div class="col-md-4 p22"></div>
                <div class="col-md-4 p23"></div>
            </div>
        </div>

        <div class="hot_deal">
            <div class="text0">
                <h3>HOT DEAL</h3>
                <h1>FISHNET CHAIR</h1>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
                    or highly polished chrome.
                </p>
                <a href="#">ORDER US</a>
            </div>
        </div>

        <div class="exlusive">
            <div class="row">
                <div class="col-md-6 ep_lg">
                    <div class="text1">
                        <h3>EXCLUSIVE</h3>
                        <h1>FISHNET CHAIR</h1>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                            powder-coated black
                            or highly polished chrome.
                        </p>
                        <a href="#">ORDER US</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 ep_sm11"></div>
                        <div class="col-md-6 ep_sm12"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ep_sm21"></div>
                        <div class="col-md-6 ep_sm22"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="mobile_app">
            <div class="text0">
                <h3>mobile app</h3>
                <h1>Find. Follow.</h1>
                <h1>Favorite.</h1>
                <p>Save your favorites and share your style.</p>
                <div class="row">
                    <div class="col-md-4 app_store"></div>
                    <div class="col-md-4 google_play"></div>
                </div>


            </div>
        </div>

        <div class="footer">
            <div class="f_text">
                <div class="row">
                    <div class="col-md-3 f_contact">
                        <h3>CONTACT US</h3>
                        <p>132A Bridge Road Richmond VIC
                            Australia. <br><br> Talk to us on 1300 132
                            info@interior.com</p>
                    </div>
                    <div class="col-md-5 uinf">
                        <h3>USEFUL INFORMATION</h3>
                        <div class="row">
                            <div class="col-md-5">
                                <ul>
                                    <li><a href="#">SALES TERMS</a></li>
                                    <li><a href="#">CUSTOMER CARE</a></li>
                                    <li><a href="#">DELIVERY</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li><a href="#">ARCHITECT ACCOUNTS</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Exchanges &amp; returns</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 stay_it">
                        <h3>LET'S STAY IN TOUCH!</h3>
                        <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                        <div class="email">
                            <input type="email" class="form-control" placeholder="your email address">
                            <div class="button">
                                <a href="JavaScript:alert('Message sended sucessfully!')"><img src="{% static 'img/airplane.png'%}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ground">
                    <div class="col-md-4">
                        <p class="text-left">&copy; Copyright - INTERIOR <script>
                                document.write(new Date().getFullYear())

                            </script>. All Rights Reserved.</p>
                    </div>
                    <div class="col-md-4 icons">
                        <div class="row row-centered">
                            <div class="col">
                                <img class="mx-auto d-block" src="{%  static 'img/social-links.png'%}" usemap="#image-map" alt="social">
                                <map name="image-map">
                                    <area href="JavaScript:alert('Facebook')" coords="14,15,12" shape="circle" alt="Facebook">
                                    <area href="JavaScript:alert('Twitter')" coords="48,15,12" shape="circle" alt="Twitter">
                                    <area href="JavaScript:alert('Google')" coords="82,15,12" shape="circle" alt="Google">
                                    <area href="JavaScript:alert('Pinterest')" coords="115,14,14" shape="circle" alt="Pinterest">
                                </map>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 terms">
                        <p class="text-right">
                            <a href="#">Terms &amp; Conditions</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="#">Privacy policy &amp; Cookies</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4/js/bootstrap.min.js' %}"></script>
</body>

</html>
