{% extends 'base.html' %}

{% load static %}

{%  block page_title %}
    Interior shop
{% endblock %}

{% block header_text %}
    <div class="text0">
                <h3>TRENDING</h3>
                <h1>FISHNET CHAIR</h1>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
                    or highly polished chrome.
                </p>
                <a href="#">ORDER US</a>
            </div>
{% endblock %}

{% block page_content %}
        <div class="featured">
            <div class="row mini_head">
                <div class="col-md-8">
                    <div class="l_data">
                        <div class="fn_menu">
                            <div><a href="#">Featured</a></div>
                            <div><a href="#">New</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="explore_all">
                        <a href="#">EXPLORE ALL</a>
                    </div>
                </div>
            </div>
            <div class="goods">
                <div class="row">
                    <div class="col">
                        <div class="p1">
                            <div class="image"></div>
                            <div class="details">
                                <a href="#"></a>
                                <h4>Fishnet Chair</h4>
                                <p>Seat and back with upholstery made of cold cure foam
                                    . Steel frame, available in matt powder-coated black
                                    or highly polished chrome.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="p2">
                            <div class="image"></div>
                            <div class="details">
                                <a href="#"></a>
                                <h4>Blue Chair</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p3">
                            <div class="image"></div>
                            <div class="details">
                                <a href="#"></a>
                                <h4>White pot</h4>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p4">
                            <div class="image"></div>
                            <div class="details">
                                <a href="#"></a>
                                <h4>Red Chair</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="promo">
            <div class="row">
                <div class="col-md-6 promo1">
                    <div class="text1">
                        <h3>EXCLUSIVE</h3>
                        <h1>FISHNET CHAIR</h1>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                            powder-coated black
                            or highly polished chrome.
                        </p>
                        <a href="#">ORDER US</a>
                    </div>
                </div>
                <div class="col-md-6 promo2">
                    <div class="text1">
                        <h3>EXCLUSIVE</h3>
                        <h1>FISHNET CHAIR</h1>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                            powder-coated black
                            or highly polished chrome.
                        </p>
                        <a href="#">ORDER US</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="trend_prod">
            <div class="row mini_head">
                <div class="col-md-8 l_data">
                    <p>Trending Products</p>
                </div>
                <div class="col-md-4">
                    <div class="explore_all">
                        <a href="#">EXPLORE ALL</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 p11"></div>
                <div class="col-md-4 p12"></div>
                <div class="col-md-4 p13"></div>
            </div>
            <div class="row">
                <div class="col-md-4 p21"></div>
                <div class="col-md-4 p22"></div>
                <div class="col-md-4 p23"></div>
            </div>
        </div>

        <div class="hot_deal">
            <div class="text0">
                <h3>HOT DEAL</h3>
                <h1>FISHNET CHAIR</h1>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
                    or highly polished chrome.
                </p>
                <a href="#">ORDER US</a>
            </div>
        </div>

        <div class="exlusive">
            <div class="row">
                <div class="col-md-6 ep_lg">
                    <div class="text1">
                        <h3>EXCLUSIVE</h3>
                        <h1>FISHNET CHAIR</h1>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                            powder-coated black
                            or highly polished chrome.
                        </p>
                        <a href="#">ORDER US</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 ep_sm11"></div>
                        <div class="col-md-6 ep_sm12"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ep_sm21"></div>
                        <div class="col-md-6 ep_sm22"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="mobile_app">
            <div class="text0">
                <h3>mobile app</h3>
                <h1>Find. Follow.</h1>
                <h1>Favorite.</h1>
                <p>Save your favorites and share your style.</p>
                <div class="row">
                    <div class="col-md-4 app_store"></div>
                    <div class="col-md-4 google_play"></div>
                </div>


            </div>
        </div>
{% endblock %}