{% extends 'base.html' %}

{% load static %}

{%  block page_title %}
    <title>Contacts</title>
{% endblock %}

{%  block page_styles %}
    <link rel="stylesheet" href="{% static 'contacts/css/contacts.css' %}">
{% endblock %}

{% block header_text %}
    <h1>Contact Us</h1>
{% endblock %}

{% block page_content %}
    <div class="row c_data">
        {% for citem in contacts|slice:"0:3" %}
            <div class="col-md-4 c_item">
                <i class="icon-location"></i>
                <h3>{{ citem.state }}</h3>
                <p class="data_head">Phone:</p>
                <p class="data_val">{{ citem.phone }}</p>
                <p class="data_head">Email:</p>
                <p class="data_val">{{ citem.email }}</p>
                <p class="data_head">Address:</p>
                <p class="data_val">{{ citem.address }}</p>
            </div>
        {% endfor %}
    </div>
{%  endblock %}
